// <!-- Yesh Jadav  UI Design: Meckanzie -->
// For this file to be run this on cmd on windows for working with 
// ruby install sass gem
// // sass --watch styles.scss:styles.css
// No need to make css folder
// *****************Varaibles**************
$main:			#34314c;
$secondary:		#9592ad;
$border:		#d9dee9;
$white:			#FFFFFF;
$inside:		#f5efef;	//Fresh
$highlight_1:	#fd7473;  	//Red
$highlight_2:	#fec951;	//Yellow
$highlight_3:	#5b86e5;	//Blue
$highlight_4:	#a8e063;	//Green

// *******************Main Page******************
body{
		font-family: 'Josefin Sans', sans-serif;
		padding-bottom: 6em;
		background-color: #ffdde1;
}
.border{
	height: 10px;
	border: 0;
	background-color: $highlight_1;
	background-image: 
		linear-gradient(
			to right,
			$highlight_1,
			$highlight_1 25%,
			$highlight_2 25%,
			$highlight_2 50%,
			$highlight_3 50%,
			$highlight_3 75%,
			$highlight_4 75%,
			$highlight_4 100%,
			$highlight_4 100%
		);
	-webkit-background-size: 50% 100%;	
}

.wrapper{
	width: 850px;
	max-width: 90%;
	margin: 0 auto;
}
.clearfix:before,.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.main_header{
	margin: 5em 0 3em 0;
}
// **********************Header Page**************
.logo{
	img{
		width: 95px;
		float: left;
	}
	h1{
		float: left;
		margin: 0 0 0 1em;
		text-transform: uppercase;
		font-size: 1.35em;
		padding-top: 1.1em;
		color: $main;
		span{
			font-weight: 400;
		}
	}
}
.nav{
	float: right;
	padding-top: 1.75em;
	a{
		color: $secondary;
		margin-left: 1em;
		text-decoration: none;
	}
	.current{
		font-weight: 700;
		color: $main;
		&:hover{
			border: none;
			color: $main;
			background: $inside;
		}
	}
	.full_time{
		font-weight: 700;
		color: $highlight_1;
		&:hover{
			border: none;
			color: $main;
			background: $inside;
		}	
	}
	.part_time{
		font-weight: 700;
		color: $highlight_2;
		&:hover{
			border: none;
			color: $main;
			background: $inside;
		}	
	}
	.internship{
		font-weight: 700;
		color: $highlight_3;
		&:hover{
			border: none;
			color: $main;
			background: $inside;
		}	
	}
	.freelance{
		font-weight: 700;
		color: $highlight_4;
		&:hover{
			border: none;
			color: $main;
			background: $inside;
		}
	}
}
// ****************************Jobs*****************
#timeline{
	width: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	&:after{
		content: " ";
		width: 10px;
		background: 5px $border;
		height: 90%;
		position: absolute;
		top: 3em;
		left: 3em;
		z-index: 0;
	}
	a{
		text-decoration: none;
	}
	.listing{
		background: $white;
		border: 1px solid $border;
		border-radius: .3em;
		padding: 1em;
		margin-bottom: 1em;
		position: relative;
		z-index: 1;
		display: table;
		width: 95%;
		img,.info,.job_type{
			display: table-cell;
			vertical-align: middle;
			font-size: 1em;
			color: $secondary;
		}
		.image_wrapper{
			width: 65px;
			img{
				width: 65px;
				display: block;
				margin: 0 auto;
				border-radius: .25em;
			}
		}
		.info{
			line-height: 1.25;
			width: 680px;
			padding-left: 25px;
			.job_title{
				font-weight: 700;
				color: $main;
				font-size: 1.5em;
			}
			.job_info{
				color: $secondary;
				display: block;
				span{
					margin: 0 .75em;
				}
			}
		}
		.job_type{
			text-transform: uppercase;
			font-weight: 700;
			font-size: .75em;
			position: relative;
			white-space: nowrap;
			padding-top: .6em;
			width: 100px;
			&:before{
				content: " ";
				background: $highlight_1;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				position: absolute;
				left: -20%;
				top: 27px;
			}
		}
		.full_time{
			border:2px solid $highlight_1;
			outline: none;
			text-align: center;
			background: transparent;
			border-radius: 1em;
			color: $highlight_1;
			transition: all .3s ease-in-out;
			&:hover{
				border: 2px solid $main;
				color: $main;
				background: $inside;
			}
			&:before{
				background: $highlight_1;
			}
		}
		.part_time{
			color: $highlight_2;
			border:2px solid $highlight_2;
			outline: none;
			text-align: center;
			background: transparent;
			border-radius: 1em;
			color: $highlight_2;
			transition: all .3s ease-in-out;
			&:hover{
				border: 2px solid $main;
				color: $main;
				background: $inside;
			}
			&:before{
				background: $highlight_2;
			}
		}
		.internship{
			color: $highlight_3;
			border:2px solid $highlight_3;
			outline: none;
			text-align: center;
			background: transparent;
			border-radius: 1em;
			color: $highlight_3;
			transition: all .3s ease-in-out;
			&:hover{
				border: 2px solid $main;
				color: $main;
				background: $inside;
			}
			&:before{
				background: $highlight_3;
			}
		}
		.freelance{
			color: $highlight_4;
			border:2px solid $highlight_4;
			outline: none;
			text-align: center;
			background: transparent;
			border-radius: 1em;
			color: $highlight_4;
			transition: all .3s ease-in-out;
			&:hover{
				border: 2px solid $main;
				color: $main;
				background: $inside;
			}
			&:before{
				background: $highlight_4;
			}
		}
		transition: all .3s ease-in-out;
		&:hover{
			cursor: pointer;
			box-shadow: 10px 2px 50px 0 rgba(0,0,0,0.3);
		}
	}
	.date{
		display: inline-block;
		padding: 1em 0;
		width: 100px;
		background: $white;
		border: 1px solid $border;
		border-radius: 3em;
		font-weight: 700;
		font-size: .75em;
		text-align: center;
		z-index: 2;
		position: relative;
		margin: 1em 0 2em 0;
	}
}
// **************************Footer type****************
.load_more{
	text-align: center;
	.button{
		border:2px solid #434343;
		outline: none;
		padding: 1em 3.5em;
		text-align: center;
		background: transparent;
		border-radius: 3em;
		color: #434343;
		transition: all .3s ease-in-out;
		&:hover{
			border: 2px solid $main;
			color: $main;
			background: #996888;
		}
	}
}
// ********************Tablet View*************
@media only screen and (max-width: 768px){
.main_header{
	margin: 3em 0;
}
.logo{
	display: block;
	margin: 0 auto;
	text-align: center;
	img{
		float: none;
	}
	h1{
		float: none;
		margin: 0;
		font-size: 1em;
	}
}
.nav{
	float: none;
	text-align: center; 
	a{
		margin: 0 .5em;
		}
	}
}
// ********************For Mobile view****************
@media only screen and (max-width: 600px){
	#timeline{
		.listing{
			.image_wrapper{
				margin-right: 1em;
				img{
					width: 50px;
				}
			}
			.info{
				width: 100%;
				padding: .4em 0 0 0;
				.job_title{
					font-size: 1.25em;
				}
			}
			.job_type{
				display: none;
			}
		}
	}
}
// <!-- Yesh Jadav  UI Design: Meckanzie -->